@page "/showrecordings"

@using Microsoft.Identity.Web;
@using Microsoft.Graph;
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler

<h1>Me</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{  

    <table class="table table-striped table-condensed" style="font-family: monospace">

        <tr>
            <td>Hello @user.DisplayName</td>
            <td>now let's summarize it </td>
        </tr>
    </table>
    <button class="btn btn-default" onclick="() => @handleSendEmail()">Summarize</button>
}

@code {
  User? user;

  protected override async Task OnInitializedAsync()
  {
      try
      {
          user = await GraphServiceClient.Me.Request().GetAsync();
      }
      catch (Exception ex)
      {
          ConsentHandler.HandleException(ex);
      }
  }
    
  
  public static GraphServiceClient client;
  private async void handleSendEmail()
  {   
    Console.WriteLine("Trying to send email...");
    var user = await GraphServiceClient.Me.Request().GetAsync();
    @* Recipient currentUserRecipient = "@(new Recipient())"; 
    Recipient currentUserRecipient = new Recipient();
    EmailAddress currentUserEmailAdress = new EmailAddress();
        currentUserEmailAdress.Address = user.Mail;
        currentUserEmailAdress.Name = user.DisplayName;
        currentUserRecipient.EmailAddress = currentUserEmailAdress;
        Console.WriteLine("This is my email: ", currentUserRecipient.EmailAddress); *@

    try{
        @* ItemBody messageBody = new ItemBody();
        messageBody.Content = "this is the test email body";
        messageBody.ContentType = BodyType.Text;

        Message newMessage = new Message();
        newMessage.Subject = "\ntest message subject.";
        newMessage.ToRecipients = new List<Recipient> { currentUserRecipient };
        newMessage.Body = messageBody;
        await GraphServiceClient.Me.SendMail(newMessage).Request().PostAsync();
        Console.WriteLine("\nMail sent to {0}", user.DisplayName); *@
    }
    catch(Exception ex)
    {
      Console.WriteLine($"Error sending email: {ex.Message}");
      throw;
    }
  }
}